<p>&nbsp;</p>
<style>
form{
  border-radius: 5px;
  background-color: lightgray;
  padding: 5px;
}
</style>
<div class="row">
  <div class="col-md-offset-4 col-md-4">
    <% if alert then %>
    <p class="alert alert-warning"><%= alert %></p>
    <% end %>
    <p>ようこそ、Singles Fanの管理ページへ。</p>
  </div>
</div>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
  <%= form_tag login_path, role: "form" do %>
    <div class="form-group">
      <%= label_tag :email, "メールアドレス" %><br />
      <%= text_field_tag :email, nil, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= label_tag :password, "パスワード" %><br />
      <%= password_field_tag :password, nil, class: "form-control" %>
    </div>
    <div class="actions">
      <%= submit_tag 'ログイン', class: "btn btn-primary" %>
    </div>
  <% end %>
  <p class="text-muted"><%= link_to '[登録申請]', master_new_path %> <%= link_to '[パスワードを忘れた方]',master_reset_path  %></p>
  </div>
</div>
