<div class="row">
<div class="col-md-6">

<%= form_for(@master) do |f| %>
  <% if @master.errors.any? %>
    <div id="error_explanation" class="alert alert-warning">
      <p><%= @master.errors.count %>つのエラーが発生しています:</p>
      <ul>
      <% @master.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :email %><br>
    <%= f.text_field :email, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :picture, '写真' %><br>
    <%= f.file_field :picture, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :desc, '自己紹介' %><br>
    <%= f.text_area :desc, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :broken_dishes, '割ったお皿の数' %><br>
    <%= f.text_field :broken_dishes, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit "更新する", class: "btn btn-primary" %>
  </div>
<% end %>

</div>
<div class="col-md-6">
	<p>
		現在、以下のような制約があります。ご了承ください。どうしても困ったらMLでYosei宛に相談してください。
	</p>
	<ul>
		<li>パスワードの変更はできません。</li>
		<li>写真はJPGのみです。</li>
	</ul>
</div>
</div>
