<h1>マスター</h1>
<p>直近3ヶ月に営業を行っているアクティブなマスターの一覧です。</p>
<table class="table">
  <thead>
    <tr>
      <th></th>
      <th style="min-width: 160px">マスター名</th>
      <th>自己紹介</th>
      <th>シフト申請数</th>
      <th>次のシフト</th>
    </tr>
  </thead>

  <tbody>
    <%
      @masters.each do |m|
        master = m[0]
        n = m[1]
        e = m[2]
    %>
      <tr>
        <td><% if master.picture %> <img src="/masters/<%= master.id %>/picture" class="img-rounded" style="max-width: 60px"/> <% else %> <img src="../master.png" class="img-rounded" style="max-width: 60px"/> <% end %></td>
        <td><%= link_to master.name, master_path(master) %></td>
        <td><%= master.desc %></td>
        <td><%= n %></td>
        <td><%= (link_to e.title, event_path(e) if e) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
