<div class="row">
<div class="col-md-offset-3 col-md-6">
<h1>マスター登録申請</h1>

<% has_error = @master.errors.any? %>
<%= form_for(@master) do |f| %>
  <% if has_error %>
    <div id="error_explanation" class="alert alert-warning">
      <p>以下のエラーが発生しています：</p>

      <ul>
      <% @master.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% else %>
    <p class="alert alert-warning">
    <a href="http://cb-singles.com">Common Bar SINGLES</a>のマスター講習（説教バー）
    を受講され、現在有効なマスター資格をお持ちの方のみ申請可能です。マスターになりたい方は、公式サイトをチェックして下さい！
    </p>
  <% end %>

  <div class="form-group">
    <%= f.label :name, 'マスター名' %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :email, 'メールアドレス' %><br>
    <%= f.text_field :email, class: "form-control" %>
    <small>*.lmlab.asiaドメインからのメールを受信出来るアドレスを指定して下さい。</small>
  </div>
  <div class="form-group">
    <input type="checkbox" id="is-master" onchange="toggle_submit()"/>
    <label for="is-master">私はCommon Bar SINGLESのマスターです。</label>
  </div> 
  <div class="actions">
    <%= f.submit '登録申請をする',id: "submit-button" ,class: "btn btn-primary" %>
  </div>
<% end %>
<script>
<% if has_error %>
$("#is-master").prop("checked",true);
$("#submit-button").prop("disabled",false);
<% else %>
$("#is-master").prop("checked",false);
$("#submit-button").prop("disabled",true);
<% end %>
function toggle_submit(){
  var c = $("#is-master").prop("checked");
  $("#submit-button").prop("disabled",!c);
}
</script>
</div>
</div>
