<div class="row">
<div class="col-md-6">

<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation" class="alert alert-warning">
      <p><%= @event.errors.count %>つのエラーが発生しています:</p>
      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :opendate, "開催日" %>
    <%= f.date_field :opendate, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :opentime, "時間帯" %>
    <label class="checkbox-inline"><%= f.radio_button :opentime, 0 %> 昼 </label>
    <label class="checkbox-inline"><%= f.radio_button :opentime, 1 %> 夜 </label>
    <label class="checkbox-inline"><%= f.radio_button :opentime, 2 %> 昼夜 </label>
  </div>
  <div class="form-group">
    <%= f.label :master_name,"マスター" %>
    <%= text_field_tag 'master_name' ,@event.master_name, class: "form-control",list: "master_name_list" %>
    <datalist id="master_name_list">
    	<% Master.all.each do |m| %>
    	<option value="<%= m.name %>" />
    	<% end %>
    </datalist>
    <%# f.select :master_id, Master.active.collect {|b| [b.name, b.id] },{} , class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :picture,"写真" %>
    <div id="pictures"></div>
    <ul class="pager" style="clear: both">
      <li><a href="javascript: void(0)" onclick="update_imgs(-1)">前</a></li>
      <li><a href="javascript: void(0)" onclick="update_imgs(1)">次</a></li>
    </ul>
    <script>
      var current_page = 0;
      function update_imgs(direction){
      	current_page += direction;
      	if(current_page < 0) current_page = 0;
	    $("#pictures").load("/imgs?p="+current_page+"&checked_id=<%= @event.picture_id || 0 %>");
      }
      update_imgs(0);
    </script>
  </div>
  <div class="form-group">
    <%= f.label :title,"タイトル" %>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :short_desc,"説明文(?文字以内)" %>
    <%= f.text_area :short_desc, class: "form-control", rows: "3" %>
  </div>
  <div class="form-group">
    <%= f.label :long_desc,"詳細（オプション）" %>
    <%= f.text_area :long_desc, class: "form-control", rows: "3" %>
  </div>
  <div class="form-group">
    <%= f.label :submaster_id,"サブマスター（オプション）" %>
    <%= f.select :submaster_id, Master.active.collect {|b| [b.name, b.id] },{include_blank: true} , class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :url,"URL（オプション）" %>
    <%= f.text_field :url, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= check_box_tag :tweet, 'true', @tweet %>
    <%= label_tag :tweet,"このシフトをツイートする" %>
  </div>
  <div class="actions">
    <%= f.submit @submit_text, class: "btn btn-primary" %>
  </div>
<% end %>
</div>
</div>
