<style>
img.cb-thumbnail{
  max-width: 80px;
}

.cb-day{
  font-size: 18px;
  text-align: center;
  white-space: nowrap;
}
</style>
<% @two_events.each_with_index do |one_events,i| %>
  <% if @two_dates then %>
    <h3><%= @two_dates[i].year %>年<%= @two_dates[i].month %>月</h3> 
  <% end %>
  <table class="table table-striped">
  <tbody>
  <% one_events.each_with_index do |events,d|
      next if d == 0 || (i == 0 && d < Date.today.day)
      if events == nil then
  %>
    <tr><td><img class="cb-thumbnail" src="closed.png"/></td>
      <td class="cb-day"><%= @two_dates[i].month %>/<%= d %></td>
      <td></td>
      <td class="text-muted">日替わりマスター募集中！
      	      <% if session[:master_id] then
      	      		td = "%d-%d-%d" % [@two_dates[i].year,@two_dates[i].month,d]
      	      	 %> <%= link_to '追加', new_event_path(d:td),class: "btn btn-default btn-xs" %><% end %>
      	</td></tr>
  <%  else
        events.each do |event|
          next if event == nil  
  %>
    <tr>
      <td><img class="cb-thumbnail" src="/thumb/<%= event.picture_id %>" /></td>
      <td class="cb-day"><%= event.opendate.month %>/<%= event.opendate_short %></td>
      <td class="cb-time"><%= event.opentime_short %></td>
      <td>
        <span class="lead"><%= event.masters_name(true) %>「<%= event.title %>」</span>
      <p>
      <%= event.short_desc %>
      <% if session[:master_id] then %> <%= link_to '編集', edit_event_path(event.id),class: "btn btn-default btn-xs" %><% end %>
      </p>
      <% if event.url then %>
        <p><small><a href="<%= event.url %>" target="_blank"><%= event.url %></a></small></p>
      <% end %>
    <!-- Posted at <%= event.updated_at %> -->
      </td>
  <%  
      end
    end
%>
    </tr>
  <% end %>
</table>
<% end %>
