<style>
img.cb-thumbnail{
  max-width: 80px;
}

.cb-day{
  font-size: 18px;
  text-align: center;
}
</style>
  <table class="table table-striped">
  <tbody>
  <% @events.each do |event| %>
    <tr>
      <td><img class="cb-thumbnail" src="/thumb/<%= event.picture_id %>" /></td>
      <td class="cb-day"><%= event.opendate.month %>/<%= event.opendate_short %></td>
      <td class="cb-time"><%= event.opentime_short %></td>
      <td>
        <span class="lead"><%= event.masters_name(true) %> 「<%= event.title %>」</span>
      <p>
      <%= event.short_desc %>
      <% if session[:master_id] then %> <%= link_to '[編集]', edit_event_path(event.id) %><% end %>
      </p>
      <% if event.url then %>
        <p><small><a href="<%= event.url %>" target="_blank"><%= event.url %></a></small></p>
      <% end %>
    <!-- Posted by <%= event.master.name %> at <%= event.updated_at %> -->
      </td>
    </tr>
  <% end %>
</table>
