<h1><%= @event.opendate_short+" "+@event.title %> </h1>

<% if notice then %>
<p class="alert alert-info" id="notice"><%= notice %></p>
<% end %>

<style>
table.table th{
  text-align: right;
  white-space: nowrap;
}
</style>

<div class="row">
	<div class="col-md-6">
<table class="table">
<tr>
  <th>開催日</th>
  <td><%= @event.opendate %>
 <%= @event.opentime_short %><br/>
 <small>個別に記載がない場合の営業時間は、昼: 13:00-18:00 夜: 19:30-23:00 です。</small>
  </td>
</tr>
<tr>
  <th>マスター</th>
  <td><%= link_to @event.master.name, master_path(@event.master_id) %></td>
</tr>
<tr>
  <th>タイトル</th>
  <td><%= @event.title %></td>
</tr>
<tr>
  <th>概要</th>
  <td><%= @event.short_desc %></td>
</tr>
<% if @event.long_desc.present? then %>
<tr>
  <th>詳細</th>
  <td><%= @event.long_desc %></td>
</tr>
<% end %>
<tr>
  <th>サブマスター</th>
  <td><%= Master.find(@event.submaster_id).name if @event.submaster_id %></td>
</tr>
<tr>
  <th>URL</th>
  <td><%= @event.url %></td>
</tr>
<tr>
  <th>登録日時</th>
  <td class="text-muted"><%= @event.created_at %></td>
</tr>
</table>
</div>
<div class="col-md-6">
	<img src="/img/<%= @event.picture_id %>" alt="" style="max-width: 300px;" class="img-rounded"/>
	<div id="socials">
		<!-- facebook -->
		<div class="fb-like" data-href="http://www.singlesfan.com/events/<%= @event.id %>" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
		&nbsp;
		<!-- twitter -->
		<a class="twitter-share-button" href="https://twitter.com/share">Tweet</a>
		<script type="text/javascript">window.twttr=(function(d,s,id){var t,js,fjs=d.getElementsByTagName(s)[0];if(d.getElementById(id)){return}js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);return window.twttr||(t={_e:[],ready:function(f){t._e.push(f)}})}(document,"script","twitter-wjs"));</script>
	</div>
</div>
</div>
<% if session[:master_id] then %>
<%= link_to '再編集', edit_event_path(@event),class: "btn btn-default" %>
<%= link_to 'シフト一覧へ', events_path,class: "btn btn-default" %>
<% end %>
