<div class="row">
  <div class="col-md-6">
    <% if @events.length == 0 then %>
    <div class="well">本日(<%= Date.today.strftime("%m月%d日") %>)の営業はありません。</div>
    <% end %>
    <style>
      .table th{
        white-space: nowrap;
      }
    </style>
	<% @events.each do |event| %>
	<h3><%= event.opendate.strftime("%Y年%m月%d日") %> <%= event.title %></h3>
    <table class="table">
    <tbody>
    <tr>
      <th>マスター</th><td><%= event.masters_name(true) %></td><td rowspan="3">
	    <img src="/img/<%= event.picture_id %>" class="img-rounded hidden-xs" style="max-width: 240px; float: right;"/>
    	</td>
    </tr>
    <tr>
      <th>タイトル</th><td><%= event.title_(true) %></td>
    </tr>
    <tr>
      <th>時間帯</th><td><%= event.opentime_long %><br/>
        <small>※イベントによって異なる時間帯が設定されることがあります。</small></td>
    </tr>
    <tr>
      <th>概要</th><td colspan="2"><%= event.short_desc %></td>
    </tr>
    <% if event.url then %>
    <tr>
      <th>URL</th><td colspan="2"><a href="<%= event.url %>" target="_blank"><%= event.url %></a></td>
    </tr>
    <% end %>
    </table>
  <% end %>
  </div>
  <div class="col-md-6">
    <!-- twitter -->
	<a class="twitter-timeline" href="https://twitter.com/singlesfan" data-widget-id="535251453288652803">Tweets by @singlesfan</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    <!-- /twitter -->
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <hr/>
    <p><%= link_to '本日以降のスケジュール', events_path, class: "btn btn-default" %>
      <%= link_to '開催済みのスケジュール', pasts_path(:p => "0"), class: "btn btn-default" %>
    </p>
    <p style="text-align: right"><a href="/login">マスター・管理者向け</a></p>
  <div>
</div>
