<h1>アップロード済み写真</h1>
<style>
table img{
  max-height: 64px
}
</style>
<table class="table">
  <thead>
    <tr>
      <th>写真</th>
      <th>サムネイル</th>
      <th>説明</th>
      <th>投稿者</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @pictures.each do |picture| %>
      <tr>
        <td><img src="/img/<%= picture.id %>" alt=""/></td>
        <td><img src="/thumb/<%= picture.id %>" alt=""/></td>
        <td><%= picture.desc %></td>
        <td><%= picture.master.name if picture.master %></td>
        <td><%= link_to '編集', edit_picture_path(picture) %></td>
        <td><%= link_to '削除', picture, method: :delete, data: { confirm: '削除します。よろしいですか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規登録', new_picture_path, class: "btn btn-default" %>
