<!DOCTYPE html>
<html>
<head>
  <title>Singles Fan!<%= @title ? " - "+@title : "" %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="description" content="<%= @meta_description ? @meta_description : "大阪梅田にある「日替わりのマスター」のバーを紹介するサイトです。" %>" />
  <meta name="keywords" content="大阪,梅田,バー,飲み会,イベント,コモンバー,シングルズ,COMMON BAR SINGLES,ファン" />
  <style>
  body {
    padding-top: 50px;
  }

  .navbar{
    background-color: darkorange;
    border-color: chocolate;
    color: black;
  }

  .nav > li > a:visited{
    color: #333;
  }

  .navibar-nav > li > a:visited{
    color: #333;
  }

  .navbar-brand{
    color: #000 !important;
  }
  .nav > li > a{
    color: #000;
  }

  .footer {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 40px;
    border-top: 1px solid #eee;
    text-align: center;
  }
    </style>
</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=1471100926452630&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <% toplink = session[:master_id] ? for_master_root_path : root_path %> 
      <%= link_to 'Singles Fan!', toplink, :class => 'navbar-brand' %>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to 'SINGLESって？', about_path %></li>
        <li><%= link_to '営業スケジュール', events_path %></li>
        <li><%= link_to 'メニュー', foodmenu_path %></li>
        <li><%= link_to 'アクセス', access_path %></li>
      </ul>
    </div>
  </div>
</div><!-- /navbar -->
<%= render 'top' if @show_jumbotron %>

<div class="container">

<%= yield %>

</div>

<div class="footer">
  <p>&copy; singlesfan.com <%= Date.today.year %></p>
</div>
<%= render 'google_analytics' %>
</body>
</html>
